<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <clear/>
    <add name="ConnectRockhurst" connectionString="LDAP://rockhurst.int/DC=rockhurst,DC=int"/>
    <add name="ConnectStudent" connectionString="LDAP://student.rockhurst.int/DC=student,DC=rockhurst,DC=int"/>
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Accounts/Login.aspx"
        name=".ActiveDirectoryAuthentication"
        slidingExpiration="true"
        timeout="60"
        enableCrossAppRedirects="false" />
    </authentication>

    <membership defaultProvider="ActiveDirectoryMembershipProvider_STUDENT">
      <providers>
        <clear/>
        <add name="ActiveDirectoryMembershipProvider_ROCKHURST"
          type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          maxInvalidPasswordAttempts="5"
          minRequiredPasswordLength="4"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          passwordStrengthRegularExpression=""
          connectionStringName="ConnectRockhurst"
          connectionUsername="domain\some_admin_account"
          connectionPassword="generic_password"
          attributeMapUsername="sAMAccountName"
          applicationName="/ADAuth" />
        <add name="ActiveDirectoryMembershipProvider_STUDENT"
          type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          maxInvalidPasswordAttempts="5"
          minRequiredPasswordLength="4"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          passwordStrengthRegularExpression=""
          connectionStringName="ConnectStudent"
          connectionUsername="domain\some_admin_account"
          connectionPassword="generic_password"
          attributeMapUsername="sAMAccountName"
          applicationName="/ADAuth" />
      </providers>
    </membership>

    <!-- This is not necessary until Role-based features are added, like the need to recognize a domain admin

    <roleManager enabled="true"
      defaultProvider="ActiveDirectoryRoleProvider_ROCKHURST"
      cacheRolesInCookie="true"
      cookieName=".ADAuth"
      cookiePath="/"
      cookieTimeout="60"
      cookieRequireSSL="false"
      cookieSlidingExpiration="true"
      createPersistentCookie="false"
      cookieProtection="All">

      <providers>
        <clear/>
        <add name="ActiveDirectoryRoleProvider_ROCKHURST"
          type="RHSauth.Code.ActiveDirectoryRoleProvider"
          connectionStringName="ConnectAD"
          connectionUsername="domain\some_admin_account"
          connectionPassword="generic_password"
          attributeMapUsername="sAMAccountName"
          applicationName="/ADAuth" />
        <add name="ActiveDirectoryRoleProvider_STUDENT"
          type="RHSauth.Code.ActiveDirectoryRoleProvider"
          connectionStringName="ConnectStudent"
          connectionUsername="domain\some_admin_account"
          connectionPassword="generic_password"
          attributeMapUsername="sAMAccountName"
          applicationName="/ADAuth" />
      </providers>

    </roleManager>
-->

  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="~/Accounts/ChangePassword.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>